<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="front-end learning dev resources" name="description">
    <meta content="front-end learning dev resources" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front End App Store</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">


    <% if (htmlWebpackPlugin.options.env !== 'chrome') { %>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <% } %>

</head>

<body>
    <div id="root"></div>
    <% if (htmlWebpackPlugin.options.env !== 'chrome') { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <% } %>
</body>

</html>
